version: '3.8'

services:
  frontend:
    build: 
      target: frontend
    expose:
      - 3000
    environment:
      API_PATH: http://solarmax-service:8000
      DB_PATH: /data/data.db
      ORIGIN: http://localhost

      DB_USE_DRIZZLE: true

      DATABASE_URL: "postgres://root:${POSTGRES_PASSWORD}@timescaledb:5432/solar-panel"
    volumes: 
      - ./data:/data:rw
    depends_on:
      - timescaledb
  solarmax-service:
    build: 
      target: solarmax-service   
  update-scheduler: 
    build: 
      target: update-scheduler   
    depends_on:
      - frontend
    environment:
      API_PATH: http://frontend:3000
      CRON_PATTERN: "0 * * * * *"
  timescaledb:
    image: timescale/timescaledb-ha:pg17
    expose:
      - 5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: solar-panel
    volumes:
      - ./pgdata:/home/postgres/pgdata/data
