version: '3.8'

services:
  frontend:
    build:
      target: frontend
    expose:
      - 3000
    environment:
      API_PATH: http://solarmax-service:8000
      DB_PATH: /data/data.db
      ORIGIN: http://localhost

      DB_USE_DRIZZLE: true

      DATABASE_URL: '${DATABASE_URL}'
    volumes:
      - ./data:/data:rw
    healthcheck:
      test: curl --fail http://localhost:3000/health || exit 1
      interval: 30s
      timeout: 5s
      start_period: 10s
      retries: 3
  solarmax-service:
    build:
      target: solarmax-service
  update-scheduler:
    build:
      target: update-scheduler
    depends_on:
      - frontend
    environment:
      API_PATH: http://frontend:3000
      CRON_PATTERN: '0 * * * * *'
