name: Docker Build/Publish Image

on:
  push:
    branches: 
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

env:      
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  TARGET_PLATFORM: linux/arm/v8  

jobs:
  publish-services:
    strategy:
      matrix:
        service: [ frontend, solarmax-service, update-scheduler ]
    uses: ./.github/workflows/docker-template.yml
    permissions:
      contents: read
      packages: write
    with:
      service: ${{ matrix.service }}
    secrets: inherit
